* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%);
    width: 100%;
    height: 100vh;
}
.flex-container {
    display: flex;
    width: inherit;
    height: inherit;
}
.flex-item:first-child {
    border-left: 20px solid #000;
    border-bottom: 20px solid #000;
    border-top: 20px solid #000;
}
.flex-item:nth-child(2) {
    border-right: 20px solid #fff;
    border-top: 20px solid #fff;
    border-bottom: 20px solid #fff;
}
.flex-item {
    flex-grow: 1;
    width: inherit;
    height: inherit;
}